.chat-friend {
    display: flex;
    align-items: center;
    margin: 2%;
    border-radius: 55px;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 70%;
}

.chat-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-friend-name{
    margin-left: 4%;
    font-weight: bold;
}

.chat-friend:hover {
    background-color: rgb(204, 203, 203);
}