.message-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 5px;
}

.msg-top {
    display: flex;
    text-align: left;
    width: 50%;
    padding: 10px;
    color: white;
    margin: 1em 1em 0em 1em;
}

.msg-top.own-msg-order {
    flex-direction: row-reverse;
}
.msg-text {
    background-color: rgb(195, 197, 197);
    color: black;
    border-radius: 20px;
    padding: 1em;
}

.msg-img {
    width: 45px;
    height: 45px;
    margin: 5px 13px 5px 0;
    border-radius: 50%;
    object-fit: cover;
}

.msg-img.own-msg-img {
    margin-left: 1em;
    margin-right: 0;
}
.msg-ago {
    margin-left: 6.6em;
    font-size: .8em;
}
.msg-ago.own-msg-ago-span {
    margin-right: 6.7em;
}

.message-wrapper.own {
    align-items: flex-end;
}

.msg-text.own-msg-style {
    background-color: #548CFF;
    color: white;
}