


.sidebar {
    flex: 2.5;
    padding: 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    height: calc(100vh - 73.78px);
    overflow-y: scroll;
    position: sticky;
    top: 73.91px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar-top-list {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-top-list-item {
    padding: 1.5%;
    display: flex;
    width: 70%;
    margin: 0 5% 5% 5%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.sidebar-top-list-item:hover {
    background-color: grey;
    color: white;
}

.sidebar-top-icon {
    font-size: 1.3rem;
    margin-left: 25%;
    margin-top: 2px;
}

.icon-span {
    font-size: 1.2rem;
    margin-left: 5%;
}
.groups-span {
    margin-left: 3.8%;
}



.friends-list-sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-friend {
    display: flex;
    align-items: center;
    margin: 2%;
    border-radius: 25px;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.friend-name{
    margin-left: 4%;
}

.sidebar-friend:hover {
    background-color: rgb(204, 203, 203);
}

.sidebar-hr {
    border: bottom .5px #333;
}

.close-friends {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }