.rightbar {
    flex: 3;
    font-family: 'Lato', sans-serif;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
}

.rightbar-top {
    display: flex;
    padding: 10px;
    align-items: center;
}

.gift-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.middle-img {
    margin: 10px;
    border-radius: 4px;
}

.rightbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.rightbar-friend-list {
    list-style: none;
    width: 100%;
}

.rightbar-friend {
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 3px 5px;
    width: 80%;
}
.rightbar-friend:hover {
   background-color: rgb(204, 203, 203);
}

.online-friends {
    font-weight: 700;
}


.rightbar-hr {
    height: .5px;
    color: grey;
    width: 100%;
    margin: 5% 0;
}

.friend-pfp {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.friend-image-wrapper {
    position: relative;
    display: flex;
}

.friend-online {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(47, 255, 82);
    border-radius: 50%;
    border: 2px solid white;
    top: -3px;
    left: 33px;
}

.friend-name {
    font-weight: 700;
}


/* ------------------PROFILE RIGHTBAR BOX ------------------------ */

.profile-rightbar-wrapper {
    display: flex;
    flex-direction: column;
}

.user-friends {
    display: flex;
    flex-wrap: wrap;
}

.single-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .7em;
}

.friends-tag {
    margin: 1em 0;
    font-size: 1.2em;
}

.user-friend-img {
    height: 95px;
    width: 95px;
    object-fit: cover;
    border-radius: 20px;
}

.rightbar-info h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.info-item {
    color: grey;
    margin-bottom: 1em;
}

.info-first {
    font-weight: 700;
    margin-right: 0.4em;
}

.user-info-line {
    height: 1px;
    background-color: rgb(160, 160, 160);
    width: 70%;
    margin-bottom: 1.3em;
}

.follow-btn {
    background-color: #1b64f5;
    color: white;
    border:none;
    border-radius: 5px;
    padding: .53em 1.2em;
    display: flex; 
    align-items: center;
    font-size: 1.1em;
    margin: 1.1em 1em 1em 0;
    cursor: pointer;
}

.follow-btn:hover {
    background-color: #224ca0;
}

.spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.spinner {
    margin-right: 20%;
}

.about-username {
    color: gray;
    font-weight: 800;
    font-style: italic;
}